@page
@{
    ViewData["Title"] = "Om sidan";
}
<h2>Om sidan</h2>

<h3>Lite kort om mig själv:</h3>

<p>Jag heter Rebecka Högström och bor i staden Östersund, Jämtland. 
    Jag studerar Webbutveckling på distans i Sundsvall som är en två-årig utbildning, och är nu på sista terminen av programmet.
    En av de två kurser jag läser nu heter ASP.NET med C#, där en av uppgifterna har varit att skapa denna webbplats i
    i ASP.net samt lärt mig att använda Razor-syntax i min kod.</p>

<div class="output"></div>
