@page
@{
    ViewData["Title"] = "Startsida";

}
<button onclick="topFunction()" id="myBtn" title="Go to top">Tillbaka upp</button>

<h2 class="welcome">Välkommen!</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a mauris non arcu fringilla commodo.
    Suspendisse dui nisi, viverra vehicula rutrum eu, molestie eget ligula. Fusce ut vulputate ipsum.
    Donec semper neque cursus nisl congue rhoncus. Integer mattis pulvinar leo tempor venenatis. Pellentesque
    venenatis luctus lacinia. Vivamus ornare cursus dolor in dapibus. Vivamus mauris est, interdum sed felis
    congue, aliquet dapibus est. Donec odio enim, pharetra vel blandit aliquet, venenatis sit amet augue.
    Pellentesque in venenatis tortor. Aliquam erat volutpat. Morbi fermentum sollicitudin nunc sagittis molestie.
    Ut nunc neque, ultrices et metus quis, scelerisque pellentesque enim.</p><br/>

<p>Vivamus ut aliquet neque. Ut vitae rutrum eros, eu tristique arcu. Pellentesque habitant morbi tristique senectus
    et netus et malesuada fames ac turpis egestas. Praesent euismod velit non gravida pharetra. Duis pharetra nunc et
    imperdiet facilisis. Donec id auctor neque, sed consectetur neque. Cras lobortis non ligula id imperdiet. Mauris
    tellus est, imperdiet eget metus sed, vehicula dapibus lectus. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia Curae; Integer faucibus congue imperdiet. Mauris eget arcu non mi sodales mollis.
    Maecenas at scelerisque tellus, at facilisis purus. Quisque pretium mattis iaculis.</p><br/>

<p>Fusce porta risus in gravida iaculis. Ut vestibulum arcu purus, eu posuere dui ullamcorper non. Nunc fermentum id sem
    non feugiat. Donec euismod lectus mauris, sed pretium mi dapibus at. Praesent non nunc ullamcorper libero venenatis
    facilisis. Fusce semper finibus vehicula. Sed nec ullamcorper nunc. In hac habitasse platea dictumst. Vivamus volutpat
    elementum auctor. Suspendisse potenti.</p><br/>

<p>Maecenas at sapien porttitor, auctor magna id, sollicitudin eros. Nunc in vestibulum purus. Suspendisse eu nisl sed
    velit ullamcorper suscipit. Mauris placerat nunc at mi commodo, sed sollicitudin tortor consequat. Nam tincidunt magna
    vitae lacinia maximus. Duis vel lorem nisi. Ut cursus velit tortor. Praesent non hendrerit nunc. Donec facilisis justo
    lectus, quis rhoncus nisl ultricies ac. Vestibulum ultricies vehicula dui ut facilisis. In congue dui vel justo pulvinar
    porttitor. Nam egestas, ipsum eu blandit convallis, diam velit pharetra lectus, viverra vulputate enim risus eget magna.
    </p><br/>

<p>Vestibulum id odio porttitor tellus fringilla ultrices. Etiam dignissim dolor a leo pulvinar commodo. Ut nec nulla quis
    sem bibendum fermentum. Proin blandit dolor sit amet commodo dictum. Vivamus sollicitudin varius lacinia. Vestibulum eget
    lorem vel quam consequat malesuada. Morbi id tristique arcu. Sed eleifend vestibulum iaculis.</p><br/>

